body {
  background-color: #f5f5f5;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  padding-top: 0;
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-size: 16px;
  color: #336c83;
}
.ie-display,
.ie-display-old {
  display: none;
}
.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.navbar-static-top {
  border-top: solid 2px #19566e;
  background-color: #336c83;
  padding: 20px 0;
}
.navbar-static-top h1 {
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}
.nav-tabs li{
  margin-top: 15px;
  width: 50%;
}
.tab-content {
  background-color: #ffffff;
  border-left: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  padding: 15px;
  margin-right: 2px;
}
.sites {
  margin: 50px 0;
}
.site {
  height: 230px;
  margin: 15px auto;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.frame {
  border: solid 2px #cccccc;
  display: block !important;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  pointer-events: none;
  width: 1280px;
  /* Le Scale */
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(0.35);
  -o-transform: scale(0.35);
  -webkit-transform: scale(0.35);
}
.center-frame {
  height: inherit;
  position: relative;
  text-align: center;
}
.center-frame,
.overlay {
  margin: auto;
}
.overlay {
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.overlay a {
  color: #ffffff;
  display: none;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  line-height: 230px;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
}
.overlay:hover {
  background: rgba(18, 57, 72, 0.7);
  cursor: pointer;
}
.overlay:hover a {
  display: inline-block;
  text-decoration: none;
}
.ios-fix {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.loading {
  background: url('../../loader.gif') center no-repeat;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 9999;
}
.modal-header {
  color: #ffffff;
  background-color: #336c83;
  padding: 15px 15px 0 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.modal-header .close {
  color: #ffffff;
  opacity: 1;
  font-weight: 100;
  text-shadow: #545454 0 1px 0;
  bottom: 60px;
  position: relative;
  font-size: 30px;
}
.modal-site {
  height: 350px;
  margin: 50px auto;
  width: 525px;
  position: relative;
  z-index: 1;
  overflow: scroll;
}
.modal-site .modal-frame {
  overflow: scroll;
  pointer-events: all;
  border: solid 2.5px #cccccc;
  height: 1000px;
  max-height: 1000px;
}
.modal-site .modal-frame,
.modal-site .modal-desktop {
  width: 1500px;
}
.modal-site .modal-tablet {
  width: 800px;
}
.modal-site .modal-mobile {
  width: 480px;
}
.info {
  text-align: center;
}
.info .btn-site {
  margin-top: 20px;
}
.info .btn-site a {
  color: #ffffff;
  text-decoration: none;
}
.info .description {
  text-align: left;
}
.info .devices {
  display: block;
  padding-top: 20px;
  padding-bottom: 50px;
}
.info .devices span {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 10px 0;
}
.info .devices .btn-device {
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}
.info .devices .btn-device a {
  color: #808080;
}
.info .devices .btn-device .fa {
  font-size: 38px;
}
.info .devices .btn-device .fa:hover {
  color: #999999;
  cursor: pointer;
}
.info .devices .border-bottom {
  border-bottom: solid 1px #cccccc;
}
.info .btn-visit {
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}
.info .btn-visit a {
  color: #808080;
}
.info .btn-visit .fa {
  font-size: 38px;
}
.info .btn-visit .fa:hover {
  color: #999999;
  cursor: pointer;
}
.info .btn-visit span {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 10px 0;
}
/* FROM LARGEST TO SMALLEST SCREEN SIZE */
@media (max-width: 1200px) {
  .frame {
    width: 1300px;
  }
}
@media (min-width: 1200px) {
  .frame {
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
    width: 1440px;
    height: 930px;
  }
  .modal-frame {
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(0.35);
    -o-transform: scale(0.35);
    -webkit-transform: scale(0.35);
  }
}
@media (max-width: 991px) {
  .frame {
    width: 991px;
  }
  .modal-site .modal-frame,
  .modal-site .modal-desktop {
    width: 1200px;
  }
  .modal-site .modal-tablet {
    width: 800px;
  }
  .modal-site .modal-mobile {
    width: 480px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 725px;
  }
}
@media (max-width: 767px) {
  .navbar-static-top h1 {
    font-size: 32px;
  }
  .center-frame {
    width: 480px;
  }
  .frame {
    width: 1370px;
  }
  .modal-site .modal-frame,
  .modal-site .modal-desktop {
    width: 1500px;
    height: 950px;
    max-height: 950px;
  }
  .modal-site .modal-tablet {
    width: 800px;
  }
  .modal-site .modal-mobile {
    width: 480px;
  }
  .devices {
    display: inline-block !important;
    width: 100%;
  }
  .devices .btn-device {
    float: left;
    width: 25% !important;
  }
  .devices .border-bottom {
    border-bottom: none !important;
    border-right: solid 1px #cccccc;
    height: 80px;
  }
  .btn-visit {
    bottom: 160px;
    float: right;
    position: relative;
    width: 25% !important;
  }
  .border-left {
    border-left: solid 1px #cccccc;
    height: 80px;
  }
  .push {
    margin-top: 150px;
  }
  .pull {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}
@media (max-width: 580px) {
  .modal-site {
    width: 346px;
  }
  .modal-site .modal-frame,
  .modal-site .modal-desktop {
    width: 991px;
    height: 950px;
  }
  .modal-site .modal-tablet {
    width: 800px;
  }
  .modal-site .modal-mobile {
    width: 480px;
  }
  .center-frame {
    width: 400px;
  }
  .frame {
    width: 1145px;
  }
}
@media (max-width: 550px) {
  .modal-header h2,
  .modal-header .close {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .navbar-static-top h1 {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .center-frame {
    width: 368px;
  }
  .frame {
    width: 1050px;
  }
  .devices .btn-device .fa {
    font-size: 28px !important;
  }
  .btn-visit {
    bottom: 150px;
  }
  .btn-visit .fa {
    font-size: 28px !important;
  }
}
@media (max-width: 400px) {
  .frame {
    -moz-transform: scale(0.3);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.3);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.3);
    -webkit-transform-origin: 0 0;
  }
  .modal-header .close {
    bottom: 65px;
  }
  .modal-site {
    width: 270px;
    height: 240px;
  }
  .modal-site .modal-frame,
  .modal-site .modal-desktop {
    height: 950px;
    width: 1000px;
    -moz-transform: scale(0.27);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.27);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.27);
    -webkit-transform-origin: 0 0;
  }
  .modal-site .modal-tablet {
    width: 800px;
  }
  .modal-site .modal-mobile {
    width: 480px;
  }
  .center-frame {
    width: 297px;
  }
  .site,
  .center-frame,
  .overlay {
    height: 200px;
    width: 315px;
  }
  .overlay a {
    line-height: 200px;
  }
}
@media (max-width: 350px) {
  .site,
  .center-frame,
  .overlay {
    height: 200px;
    width: 290px;
  }
}
