@white: #ffffff;
@gray: #cccccc;
@black: #000000;
@winthrop-darker-blue: #19566E;
@winthrop-blue: #336C83;

body {
	background-color: #f5f5f5;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    overflow-x: hidden; 
    padding-top: 0;
    -webkit-font-smoothing: antialiased;
}
h3 {
    font-size: 16px;
    color: @winthrop-blue;
}

.navbar-static-top {
    border-top: solid 2px @winthrop-darker-blue;
    background-color: @winthrop-blue;
    padding: 20px 0;
    
    h1 {
        color: @white;
        font-weight: bold;
        margin: 0;
    }
}
.sites {
	margin: 50px 0;
}
.site {
    height: 280px;
    margin: 15px auto;
    overflow: hidden; 
    padding: 0;
    position: relative;
}
.frame { 
    border: solid 2px @gray;
    display: block !important;
    height: 800px; 
    margin: 0 auto;
    overflow: hidden; 
    pointer-events: none;
	width: 1280px;
    /* Le Scale */
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(0.35);
    -o-transform: scale(0.35);
    -webkit-transform: scale(0.35);
}
.center-frame {
    height: inherit;
    position: relative;
    text-align: center;
}
.center-frame, .overlay {
    margin: auto;
}
.overlay {
    height: 100%;
    position: absolute;
        left: 0px; right: 0px;
    text-align: center;
    width: 100%;
    z-index: 999;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    transition: all .25s ease-out;

    a {
        color: @white;
        display: none;
        height: 100%;
        font-size: 18px;
        font-weight: bold;
        line-height: 275px;
        padding: 5px 15px;
        text-align: center;
        text-transform: uppercase;
    }

    &:hover {
        background: rgba(18, 57, 72 ,0.7);
        cursor: pointer;
        
        a {
            display: inline-block;
            text-decoration: none;
        }
    }
}
.loading {
    background: url('../loader.gif') center no-repeat;
    position: absolute;
        left: 0px;
        right: 0px;
    z-index: 9999;
}
.modal-header {
    color: @white;
    background-color: @winthrop-blue;
    padding: 15px 15px 0 15px;

    .close {
        color: #ffffff;
        opacity: 1;
        font-weight: 100;
        text-shadow: #545454 0 1px 0;
        bottom: 60px;
        position: relative;
        font-size: 30px;
    }
}
.modal-site {
    height: 350px;
    margin: 0 auto;
    width: 525px;
    .modal-frame {
        overflow: scroll;
        pointer-events: all;
        border: solid 2.5px @gray;
        height: 1350px;
        max-height: 1350px;
    }
    .modal-frame, .modal-desktop {
        width: 1500px;
    }
    .modal-tablet {
        width: 800px;
    }
    .modal-mobile {
        width: 480px;
    }
}
.info {
    text-align: center;
    .btn-site {
        margin-top: 20px;
        a {
            color: @white;
            text-decoration: none;
        }
    }
    .description {
        text-align: left;
    }
    .devices {
        display: block;
        padding-top: 20px;
        padding-bottom: 50px;
        span {
            display: inline-block;
            text-align: center;
            width: 100%;
            margin: 10px 0;
        }
        .btn-device {
            text-align: center;
            width: 100%;
            padding-top: 15px;
            padding-bottom: 10px;
            a {
                color: darken(@gray, 30%);
            }
            .fa {
                font-size: 38px;

                &:hover {
                    color: darken(@gray, 20%);
                    cursor: pointer;
                }
            }
        }
        .border-bottom {
            border-bottom: solid 1px @gray; 
        }
    }
    .btn-visit {
        text-align: center;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 10px;
        a {
            color: darken(@gray, 30%);
        }
        .fa {
            font-size: 38px;

            &:hover {
                color: darken(@gray, 20%);
                cursor: pointer;
            }
        }
        span {
            display: inline-block;
            text-align: center;
            width: 100%;
            margin: 10px 0;
        }
    }
}
/* FROM LARGEST TO SMALLEST SCREEN SIZE */
@media(max-width: 1200px){
    .frame {
        width: 1300px;
    }
}
@media(min-width: 1200px){
    .frame {
        -moz-transform: scale(0.25);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.25);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.25);
        -webkit-transform-origin: 0 0;
        width: 1435px;
        height: 1130px;
    }
    .modal-frame {
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -moz-transform: scale(0.35);
        -o-transform: scale(0.35);
        -webkit-transform: scale(0.35);
    }
}
@media(max-width: 991px){
    .frame{
        width: 991px;
    }
    .modal-site {
        .modal-frame, .modal-desktop {
            width: 1200px;
        }
        .modal-tablet {
            width: 800px;
        }
        .modal-mobile {
            width: 480px;
        }
    }
}
@media(min-width: 992px){
    .modal-lg{
        width: 725px;
    }
}
@media(max-width: 767px){
    .navbar-static-top {
        h1 {
            font-size: 32px;
        }
    }
    .center-frame{
        width: 480px;
    }
    .frame {
        width: 1370px;
    }
    .modal-site {
        .modal-frame, .modal-desktop {
            width: 1500px;
            height: 950px;
            max-height: 950px;
        }
        .modal-tablet {
            width: 800px;
        }
        .modal-mobile {
            width: 480px;
        }
    }
    .devices {
        display: inline-block !important;
        width: 100%;
        .btn-device {
            float: left;
            width: 25% !important;
        }
        .border-bottom {
            border-bottom: none !important;
            border-right: solid 1px @gray; 
        }
    }
    .btn-visit {
        bottom: 160px;
        float: right;
        position: relative;
        width: 25% !important;
    }
    .border-left {
        border-left: solid 1px @gray;
    }
    .push {
        margin-top: 150px;
    }
    .pull {
        position: absolute;
            top: 0; 
            right: 0; 
            left: 0;   
    }
}
@media(max-width: 580px){
    .modal-site {
        width: 346px;
        .modal-frame, .modal-desktop {
            width: 991px;
            height: 950px;
        }
        .modal-tablet {
            width: 800px;
        }
        .modal-mobile {
            width: 480px;
        }
    }
    .center-frame{
        width: 400px;
    }
    .frame {
        width: 1145px;
    }

}
@media(max-width: 550px){
    .modal-header {
        h2, .close {
            font-size: 25px;
        }
    }
}
@media(max-width: 480px){
    .navbar-static-top {
        h1 {
            font-size: 20px;
        }
    }
    .center-frame {
        width: 368px;
    }
    .frame {
       width: 1050px;
    }
    .devices {
        .btn-device {
            .fa {
                font-size: 28px !important;
            }

        }
    }
    .btn-visit {
        bottom: 150px;
        .fa {
            font-size: 28px !important;
        }
    }
}
@media(max-width: 400px){
    .frame {
        width: 1185px;
        -moz-transform: scale(0.25);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.25);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.25);
        -webkit-transform-origin: 0 0;
    }
    .modal-frame {
        width: 1090px;
    }
    .center-frame {
        width: 296px
    }
    .overlay {
        height: 200px;
    }
}